@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Header*/
.navbar {
  margin-bottom: 20px;
  padding: 60px 60px  0 60px;
  /* background-color: #ffffff0e; */
  display: flex;
  justify-content: space-between;
  /* backdrop-filter: blur(10px); */
  /* box-shadow: 0 4px 15px rgb(0, 0, 0); */
}

.navbar-brand {
  font-family: "Shadows Into Light", cursive;
  font-weight: 900;
  font-style: normal;

  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 36px;
  color: #2c2c2c;
  font-weight: 400;
  text-align: bottom;
}

.nav-link {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s;
  padding-left: 25px; 
  text-decoration: none;
  color: #2c2c2c;
  cursor: pointer;

}

.nav-link:hover {
  color: #f1f1f1;
}



@media (max-width: 768px) {
  .navbar {
    text-align: center; 
  }
  .nav-link {
    margin: 0.5rem 0; 
  }
}

/* footer */
.text-center{
  color: #fff;
}

/* HomePage */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  /* background-image: url('./assets/backgraundpopov-9vDdkxSCAD4-unsplash.jpg'); */
  background-image: linear-gradient(to right top, #00d4ff, #00b7ff, #0095ff, #006bff, #0026ff);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  text-align: center;
  
}

.context{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 80vh; 
  flex-direction: column;
}

.home-welcom{
  color: #2c2c2c;
  font-size: 48px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: 900;
  
}

.slogen{
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
}
.social-media{
  position: absolute;
  top: 270px;
  
}
li{
  list-style: none;
  text-align: left;
  padding-bottom: 20px;
}
a{
  cursor: pointer;
}
.icon{
  width: 30px;
  height: 30px;
}
/* card-section */
.card-section{
  background-color: #252525;
  height: 75vh;

}


/* card-section end */
/* HomePage end*/


/* evet hub */
.event-hub {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding: 0 60px;
}

.event-hub h1 {
  color: #1c1c1c;
}

.event-hub form {
  padding: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.382); 
  backdrop-filter: blur(10px);
  border-radius: 10px; 
  color: #ffffff; 
  
}

.event-hub input, .event-hub textarea {
  /* position: relative;
  bottom: 20px; */
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  color: #fff;
}
.event-hub textarea {
  min-height: 10px; 
  padding: 10px; 
  resize: vertical; 
  
}

.event-hub button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .event-hub .event-list {  */
  /* background-color: #28a74647;
  border-radius: 15px;
  margin-top: 20px;
  position: relative;
  top: -82vh;
  align-items: center;
  width: 600px;
  left: 750px;
  height: 510px;
  padding: 20px; 

} */

.event-hub .event-item {
  border: 1px solid #252525;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.event-hub .event-item img {
  max-width: 100%;
  height: auto;
}

/* event hub end */

/* event-list */
.event-list {
  
  background-color: #252525;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px; /* Space between cards */
}

.cards {
  margin: 20px 60px;
  padding: 20px;
  border-radius: 8px;
  background-color: #dff0ff;
  /* background-image: url('./assets/inthemovement.jpg'); */
  background-size: cover;
  background-position: center;
  /* filter: blur(4px);  */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Adds shadow effect */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.cards:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.cards h1 {
  color: #2c2c2c;
  font-size: 36px;

}

.cards img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.cards button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}
/* event-list end */


/* From Uiverse.io by ilkhoeri */ 
.button {
  --h-button: 48px;
  --w-button: 102px;
  --round: 0.75rem;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.25s ease;
  background: radial-gradient(
      65.28% 65.28% at 50% 100%,
      rgba(223, 113, 255, 0.8) 0%,
      rgba(223, 113, 255, 0) 100%
    ),
    linear-gradient(0deg, #7a5af8, #7a5af8);
  border-radius: var(--round);
  border: none;
  outline: none;
  padding: 12px 18px;
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  inset: var(--space);
  transition: all 0.5s ease-in-out;
  border-radius: calc(var(--round) - var(--space));
  z-index: 0;
}
.button::before {
  --space: 1px;
  background: linear-gradient(
    177.95deg,
    rgba(255, 255, 255, 0.19) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.button::after {
  --space: 2px;
  background: radial-gradient(
      65.28% 65.28% at 50% 100%,
      rgba(223, 113, 255, 0.8) 0%,
      rgba(223, 113, 255, 0) 100%
    ),
    linear-gradient(0deg, #7a5af8, #7a5af8);
}
.button:active {
  transform: scale(0.95);
}

.fold {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  background: radial-gradient(
    100% 75% at 55%,
    rgba(223, 113, 255, 0.8) 0%,
    rgba(223, 113, 255, 0) 100%
  );
  box-shadow: 0 0 3px black;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: var(--round);
}
.fold::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  transform: rotate(45deg) translateX(0%) translateY(-18px);
  background-color: #e8e8e8;
  pointer-events: none;
}
.button:hover .fold {
  margin-top: -1rem;
  margin-right: -1rem;
}

.points_wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.points_wrapper .point {
  bottom: -10px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 9999px;
}
@keyframes floating-points {
  0% {
    transform: translateY(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}
.points_wrapper .point:nth-child(1) {
  left: 10%;
  opacity: 1;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(2) {
  left: 30%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}
.points_wrapper .point:nth-child(3) {
  left: 25%;
  opacity: 0.8;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}
.points_wrapper .point:nth-child(4) {
  left: 44%;
  opacity: 0.6;
  animation-duration: 2.05s;
}
.points_wrapper .point:nth-child(5) {
  left: 50%;
  opacity: 1;
  animation-duration: 1.9s;
}
.points_wrapper .point:nth-child(6) {
  left: 75%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.points_wrapper .point:nth-child(7) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(8) {
  left: 58%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(9) {
  left: 98%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}
.points_wrapper .point:nth-child(10) {
  left: 65%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.2s;
}

.inner {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.2s ease-in-out;
}

.inner svg.icon {
  width: 18px;
  height: 18px;
  transition: fill 0.1s linear;
}

.button:focus svg.icon {
  fill: white;
}
.button:hover svg.icon {
  fill: transparent;
  animation:
    dasharray 1s linear forwards,
    filled 0.1s linear forwards 0.95s;
}
@keyframes dasharray {
  from {
    stroke-dasharray: 0 0 0 0;
  }
  to {
    stroke-dasharray: 68 68 0 0;
  }
}
@keyframes filled {
  to {
    fill: white;
  }
}


/*  */
.header {
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.dashboard-container {
  padding: 20px;
}

.event-list {
  display: flex;
  flex-direction: column;
}

.event-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.home-page, .create-event-page, .dashboard-page, .profile-page, .reports-page {
  padding: 20px;
}
